<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Glory Icon Blog Posts</title>


    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width">
{#    <meta name="description" content="A COMPANY IN THE VANGUARD OF TECHNOLOGICAL INNOVATIONS">#}
{#    <meta name="keywords" content="gloryicon blogs, glory icon, gloryicon, tech ilorin, tech company ilorin,#}
{#        tech company kwara, IT, IT company ilorin">#}
{#    <meta property="og:title" content="All Blog Posts">#}
{#    <meta property="og:site_name" content="gloryicon.com">#}
{#    <meta property="og:description" content="All Glory Icon Blog Posts">#}
{#    <meta property="og:image" content="{{ request.path }}/static/img/blog01.jpg" />#}
{#    <meta property="og:url" content="{{ request.build_absolute_uri| slice:":-1" }}" />#}

    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:400,300|Raleway:300,400,900,700italic,700,300,600">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.bxslider.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">

    <link rel="icon" href="{% static 'img/gi.ico' %}">
</head>
<body>

<!-- Navigation -->
<header id="">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="position: relative;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="border-color: transparent;">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <img src="{% static 'img/logo_icon.png' %}" alt="Glory Icon" width="40px;" height="40px;">
                <a class="navbar-brand" href="#" style="margin-left: 55px;">Glory<span class="logo-dec">Icon</span></a>

            </div>
            <div class="icon">
                <div class="collapse navbar-collapse" id="myNavbar">
                    <div class="grace">
                        <ul class="nav navbar-nav navbar-right">

                            <li class=""><a href="/">Home</a></li>
                            <li class=""><a href="/">About</a></li>
                            <li class=""><a href="/">Services</a></li>
                            <li class=""><a href="/">Portfolio</a></li>
                            <li class=""><a href="/">Testimonial</a></li>
                            <li class=""><a href="/blogs">Blog</a></li>
                            <li class="active"><a href="/">Contact Us</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>



<!-- COntact Success Content Column -->
<div class="container" style="margin-top: 100px;">
    <div class="well">
        <img src="/static/img/smile.jpeg" alt="Heyo" class="img-responsive" style="width: 100px;">
        <h2>Thank you, we'll get back to you shortly</h2>
        <p>Click <a href="/">here</a> to go back home</p>
    </div>
</div>
<!-- Footer -->
<hr>
<footer id="footer">
    <div class="container">
        <div class="row text-center">
            <h3><i class="fa fa-heart"></i> Socialize</h3>

            <div id="social-icons">
                <a href="#" class="btn-group google-plus">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="#" class="btn-group linkedin">
                    <i class="fa fa-linkedin-square"></i>
                </a>
                <a href="#" class="btn-group twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="btn-group facebook">
                    <i class="fa fa-facebook"></i>
                </a>
            </div>
        </div>
        <div class="container">
            <div class="row text-center">

                <p>&copy; Glory Icon. All Rights Reserved.</p>

                <div class="credits">
                    <!--

                    -->
                    Designed by <a href="#">Glory Icon Nigeria Limited</a>

                </div>
            </div>
        </div>
    </div>
</footer>


<!-- /.container -->

<!-- jQuery -->
<script src="/static/js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
